language: node_js
node_js:
- "10"

dist: trusty
sudo: required

addons:
  chrome: stable

jobs:
  include:
  - stage: test
    script:
    - npm run test:lib:coverage
    - npm run report-coverage:lib
  - stage: build & publish showcase
    script:
    - npm run build:demo
    deploy:
      provider: pages
      skip_cleanup: true
      github_token: $GH_TOKEN
      local_dir: dist/ng-sortgrid-demo
    if: branch = master
  - stage: build & publish lib
    script:
    - npm run build:lib
    - npm run publish:lib
    if: branch = master
