<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
     [ngStyle]="{'height': height}"
     [ngClass]="{'fixed-top': fixed}">
  <div class="container">
    <a class="navbar-brand" href="#" style="font-size: 30px">ng-sortgrid <small *ngIf="subtitle">{{subtitle}}</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://twitter.com/KevinKreuzer90" target="_blank">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/kreuzerk/ng-sortgrid" target="_blank">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

