.container-fluid {
  padding: 20px;
}

.example-list {
  list-style-type: none;
  padding: 0;
}

.example-list li {
  display: table-cell;
  padding: 4px;
}

.example-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
