<h5 class="text-muted">1. Loop over your elements with *ngFor</h5>
<img src="assets/gs1.png" style="max-width: 100%; padding-bottom: 30px"/>

<hr/>

<h5 class="text-muted">2. Apply the ngSortgridItem directive</h5>
<img src="assets/gs2.png" style="max-width: 100%; padding-bottom: 30px"/>

<hr/>

<h5 class="text-muted">3. Drag the items around - hold CMD or Control and click on an item to select multiple files</h5>
<div class="example-container">
  <div *ngFor="let item of items" ngSortgridItem class="example-box">
    {{ item }}
  </div>
</div>
