<div class="card border-primary mb-3">
  <div class="card-body" *ngIf="previousSortOrder.length > 0">
    <h1 class="card-title">Previous sort order</h1>
    <h2 class="card-text">{{ previousSortOrder }}</h2>
  </div>
  <div class="card-body">
    <h1 class="card-title">Current sort order</h1>
    <h2 class="card-text">{{ currentSortOrder }}</h2>
  </div>
</div>
<div class="example-container">
  <ngsg-card *ngFor="let item of items"
             ngSortgridItem
             ngSortGridGroup="react-on-changes"
             [item]="item"
             [ngSortGridItems]="items"
             (sorted)="applyOrder($event)"
             class="example-box">
    {{ item }}
  </ngsg-card>
</div>
