<div class="row">
  <div class="col">
    <div class="example-container">
      <ngsg-card *ngFor="let item of items"
           ngSortgridItem
           ngSortGridGroup="one"
           [item]="item"
           [ngSortGridItems]="items"
           class="example-box">
        {{ item }}
      </ngsg-card>
    </div>
  </div>
  <div class="col">
    <div class="example-container">
      <ngsg-card *ngFor="let item of items"
           ngSortgridItem
           ngSortGridGroup="two"
           [item]="item"
           [ngSortGridItems]="items"
           class="example-box">
        {{ item }}
      </ngsg-card>
    </div>
  </div>
</div>
